$blue : #2567ef;
$red : #ff564f;
$yellow : #ff9d18;
$black: #3a4c59;
$pink: #fee2e3;
$white: #ffffff;

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: $blue;
    //font
    color: $white;
    font-family: 'Fredoka One', cursive;
    

    .section{
        padding: 2rem;
        width: 80%;
    }
}

h1 {
    font-size: calc(3rem + 24 * ( (100vw - 420px) / 480));
    line-height: calc(2.5rem + 24 * ( (100vw - 420px) / 480));
    text-align: left;
    padding-bottom: 2rem
}


.brand {
    //font
    font-size: calc(2rem + 24 * ( (100vw - 420px) / 480));
    text-decoration: none;
    line-height: calc(1.6rem + 24 * ( (100vw - 420px) / 480));
    position: absolute;
    left: 1rem;
  }
 
  nav{
      position: absolute;
      right: 1rem;
      width: fit-content;
  }

  .nav {
    padding-top: 2rem;
    height: 150px;
    //font
    color: $white;
    font-family: 'Fredoka One', cursive;
    .nav-item {
        margin: 0 5px;
        //font
        color: $white;
        font-family: 'ABeeZee', sans-serif;
        font-weight: 900;
        font-size: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        .router-link-exact-active {
            border-bottom: solid 2px $white;
        }

      }
      a {
        display: inline-block;
        color: $white;
        text-decoration: none;
        &:active{
           color: $red;
        }
     }
  }
 
  .red-line{
      width: 100%;
      height: 2rem;
      background-color: $red;
  }
 
.img-fluid{
    width: 300px;
}

.centered{
    text-align: center;
}